# Team 8: Loan Prediction Project

# About the data set
1. **Loan ID (ID)**
2. Gender (G)
3. Dependents (D)
4. Education (E)
5. Self-Emloyed (SF)
6. Applicant Income (AI)
7. Co-applicant Income (CI)
8. Loan Amount (LA)
9. Loan Amount Term (LT)
10. Credit History (CH)
11. Property Area (PA)
12. Loan Status (LS)

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder 
from sklearn.preprocessing import OneHotEncoder

In [3]:
dataset = pd.read_csv(r"C:\Users\jenna\Downloads\Loan Data\train_u6lujuX_CVtuZ9i.csv")
dataset.info()

print("Dataset :")
print(dataset.head())
print("Loan Status : ")
print(dataset['Loan_Status'].unique())

print("Dimensions of the dataset : ", dataset.shape)
print("Features of the dataset :")
print(dataset.describe(include = 'all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB
Dataset :
    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001002   Male      No          0      Graduate            No
1  LP001003   Male     Yes          1      Graduate            No
2  LP001005   Male     Yes          0      Graduate           Yes
3  LP001006   Male     Yes          0  Not Graduate            No
4  LP001008   Male      No          0      Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849                0.0         NaN             360.0
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0

   Credit_History Property_Area Loan_Status
0             1.0         Urban           Y
1             1.0         Rural           N
2             1.0         Urban           Y
3             1.0         Urban           Y
4             1.0         Urban           Y
Loan Status :
['Y' 'N']
Dimensions of the dataset :  (614, 13)
Features of the dataset :
         Loan_ID Gender Married Dependents Education Self_Employed  \
count        614    601     611        599       614           582
unique       614      2       2          4         2             2
top     LP001002   Male     Yes          0  Graduate            No
freq           1    489     398        345       480           500
mean         NaN    NaN     NaN        NaN       NaN           NaN
std          NaN    NaN     NaN        NaN       NaN           NaN
min          NaN    NaN     NaN        NaN       NaN           NaN
25%          NaN    NaN     NaN        NaN       NaN           NaN
50%          NaN    NaN     NaN        NaN       NaN           NaN
75%          NaN    NaN     NaN        NaN       NaN           NaN
max          NaN    NaN     NaN        NaN       NaN           NaN

        ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
count        614.000000         614.000000  592.000000         600.00000
unique              NaN                NaN         NaN               NaN
top                 NaN                NaN         NaN               NaN
freq                NaN                NaN         NaN               NaN
mean        5403.459283        1621.245798  146.412162         342.00000
std         6109.041673        2926.248369   85.587325          65.12041
min          150.000000           0.000000    9.000000          12.00000
25%         2877.500000           0.000000  100.000000         360.00000
50%         3812.500000        1188.500000  128.000000         360.00000
75%         5795.000000        2297.250000  168.000000         360.00000
max        81000.000000       41667.000000  700.000000         480.00000

        Credit_History Property_Area Loan_Status
count       564.000000           614         614
unique             NaN             3           2
top                NaN     Semiurban           Y
freq               NaN           233         422
mean          0.842199           NaN         NaN
std           0.364878           NaN         NaN
min           0.000000           NaN         NaN
25%           1.000000           NaN         NaN
50%           1.000000           NaN         NaN
75%           1.000000           NaN         NaN
max           1.000000           NaN         NaN

## Cleaning the data

In [20]:
# removing all the datapoints that have null values
# this would leave us with ~78.18% of the orginal data
nan_value = float("NaN")
dataset.replace('', nan_value, inplace=True)
dataset.dropna(inplace=True)

dataset = dataset.drop(columns=['Loan_ID'])

# one-hot encoding the categorical values
g = dataset.select_dtypes(include=['object'])
onehot_encoder = OneHotEncoder(handle_unknown='ignore')
encodedVals = onehot_encoder.fit_transform(g)
print(encodedVals)
#encoded = pd.DataFrame().toarray())


# one hot encoder sklearn
# scaler 

#dataset[['Gender','Married','Dependents','Education','Self_Employed','Property_Area','Loan_Status']] = pd.DataFrame(onehot_encoder.fit_transform(dataset[['Gender','Married','Dependents','Education','Self_Employed','Property_Area','Loan_Status']]).toarray())

KeyError: "['Loan_ID'] not found in axis"

# Neural Network

In [6]:
X = dataset.drop(columns=['Loan_Status', 'Loan_ID'])
Y = dataset['Loan_Status']

# splitting the data 80:20
train, test = train_test_split(dataset, test_size=0.2, random_state=21)

In [21]:
from sklearn.preprocessing import MinMaxScaler
#get numerical features and scale them
X_nums = dataset.select_dtypes(exclude=['object'])
minmax_scaler = MinMaxScaler()

X_nums_scaled = minmax_scaler.fit_transform(X_nums)

X_nums.shape

(480, 5)

In [22]:
X_nums_scaled.shape

(480, 5)

In [23]:
X_nums_scaled

array([[0.05482993, 0.0445666 , 0.20135364, 0.72972973, 1.        ],
       [0.03525046, 0.        , 0.0964467 , 0.72972973, 1.        ],
       [0.03009276, 0.06968703, 0.18781726, 0.72972973, 1.        ],
       ...,
       [0.09798392, 0.00709283, 0.41285956, 0.72972973, 1.        ],
       [0.09193568, 0.        , 0.30118443, 0.72972973, 1.        ],
       [0.05482993, 0.        , 0.20981387, 0.72972973, 0.        ]])